Repository swe-ms-boun/2018fall-swe574-g2, pull requests merged in 2018-12, with the labels that each got.

#53 Selector part is added into annotations
  rest-api/app.py
Labels: enhancement, minor

#58 Modification of annotations are done
  rest-api/app.py
  rest-api/form/__init__.py
  rest-api/form/annotation_jsonld_context
  rest-api/requirements.txt
Labels: API, enhancement

#67 Some essential changes are done
  django/thymesis/memories/migrations/0002_auto_20181203_1619.py
  django/thymesis/memories/models.py
  django/thymesis/memories/serializers.py
  django/thymesis/memories/views.py
  rest-api/app.py
  rest-api/form/__init__.py
Labels: bug, minor

#72 Security error because of requests library is solved
  rest-api/requirements.txt
Labels: bug

#82 API text annotation is more accurate and clean now
  rest-api/app.py
  rest-api/form/__init__.py
  rest-api/utils.py
Labels: API, bug, enhancement

#88 Delete annotation is added into api
  rest-api/app.py
Labels: API, enhancement

#95 Code is simplified
  rest-api/app.py
Labels: API, enhancement

#97 Multiple annotation can be getten with an endpoint now
  rest-api/app.py
Labels: API, enhancement

#119 Annotations can be called by its target now
  rest-api/app.py
Labels: API, enhancement

#120 API does not have a dependency to creator
  rest-api/app.py
Labels: API, enhancement

#122 Annotation type is not required and in default it is annotation
  rest-api/app.py
Labels: API

#75 TEST: unit tests are written using pytest #74
  rest-api/requirements.txt
  rest-api/tests/__init__.py
  rest-api/tests/test_api.py
Labels: test

#125 Major other creator endpoint is tested
  rest-api/tests/test_api.py
Labels: test

#126 Different and invalid options for add creator endpoint are written
  rest-api/tests/test_api.py
Labels: test

#127 Get creator id tests are written
  rest-api/tests/test_api.py
Labels: test

#128 Get creator list tests are written
  rest-api/tests/test_api.py
Labels: test

#129 Update creator tests are starting
  rest-api/app.py
  rest-api/tests/test_api.py
Labels: test

#123 Passwords are moved to a config file
  rest-api/app.py
  rest-api/config.py
Labels: API, enhancement

#134 Travis problem because of duplicate requirement is solved
  rest-api/requirements.txt
Labels: API, bug, deployment

#135 Invalid email is handled
  rest-api/app.py
  rest-api/requirements.txt
  rest-api/tests/test_api.py
Labels: API, bug

#136 User cannot be created with an invalid id now
  rest-api/app.py
Labels: API, bug

#138 FragmentPart is added
  rest-api/app.py
  rest-api/utils.py
Labels: API, enhancement

#140 Invalid home page is handled
  rest-api/app.py
  rest-api/utils.py
Labels: API, bug

#141 Annotation get and target can be handled by an only an id now
  rest-api/app.py
Labels: API
